* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* navbar */
.navbar {
  background-color:#0d0d0d;
}

.navbar-nav a {
  font-size: 14px;
  font-weight: 500;
  color:white;
  letter-spacing: 2px;
}
.dropdown-item{
  color: black !important;
}


.nav-brand-icons .nav-item i {
  font-size: 15px;
}

.dropdown-toggle::after {
  color:white;
}

.nav-brand-icons .btn {
  text-decoration: none;
  background-color:white;
  color: #0d0d0d;  
  font-weight: 500;
  padding: 4px 18px;
  border-radius: 23px;

}

.navbar input {
  width: 370px;
  height: 40px;
  letter-spacing: 1px;
  font-size: 14px;
  border-radius: 11px;
}







.add-to-bag-main-page {
  padding: 70px 0px 20px;
}
.add-to-bag-body-content{
  border-radius: 10px;
  box-shadow: -2px -7px 16px gainsboro;
}
.add-to-bag-body-content .title-top-para {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #323232;
}
.add-to-carts-featured-products-sizes-btn ul li {
  list-style-type: none;
  margin: 0px 5px;
}

.add-tocart-featured-product {
  display: flex;
  align-items: center;
  width: 55px;
  gap: 7px;
}

.types-of-delivery-section p{
font-size: 14px;
text-align: center;
}
.types-of-delivery-section a{
text-decoration: none;
color: #DA1C5C;
font-size: 14px;
font-weight: 500;
}
.pincode-input a{
  color: #DA1C5C;
  font-size: 14px;
  font-weight: 600;
}

.add-to-carts-featured-products-sizes-btn .btn {
  border-radius: 10%;
  display: flex;
  justify-content: center;
  border: 1px solid #DA1C5C;
  align-items: center;
  background-color:#DA1C5C;
  font-size: 13px;
  color:white;
  font-weight: 600;
}

.add-to-carts-featured-products-add-tobag-whishlist-btn .btn-1 {
  background-color:#DA1C5C;
  color: white;
}

.add-to-carts-featured-products-add-tobag-whishlist-btn {
  display: flex;
  gap: 5px;
}

.add-to-carts-featured-products-add-tobag-whishlist-btn .btn {
  border: 1px solid #DA1C5C;
  padding: 6px 40px;
  text-wrap: nowrap;
  border-radius: 10px;
}
.add-to-carts-featured-products-sizes-btn p{
  font-size: 14px;
}
.product-details{
  letter-spacing: 0.3px;
  font-size: 14px;
  font-weight: 400;

}

.rating-Reviews img {
  width: 65px;
}



.write-review-btn .btn {
  padding: 7px 10px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  background-color:#f44336;
  border-radius: 6px;
}
.rating-date-like-bottom-sec {
  display: flex;
  justify-content:space-between;
}

.left-sidebar-yellow-star i{
  font-size: 13px;
  color:#f44336;
}
.Add-a-review-heading{
  font-size: 17px;
  font-weight: 700;
  color:#000;
}

.add-to-cart-reviews-form-section input{
  height: 40px;
  width: 100%;
  border-color: #04AA6D;
  font-size: 13px;
  border-radius: 23px;
}
.add-to-cart-reviews-form-section label{
 font-size: 16px;
 color:#323232;
 font-weight: 400;
}
.reviews-submit-btn a{
  background-color:#04AA6D;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 6px 10px;
  color: white;
  font-size: 17px;
  color: white;
}
.reviews-submit-btn a:hover{
  background-color:#f44336;
  color:wheat;
}






/* footer */
.footer-section {
  /* background-color: #020402a9; */
   background: #222;;
  padding: 30px 0px 10px;
}

.footer-left-sec p {
  font-size: 14px;
  letter-spacing: 0.7px;
  font-weight: 500;
  color: #ebebeb;
}

.left-socials-icons a {
  color: #ebebeb;
  border: 1px solid #ebebeb;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 100%;
}

.footer-column-links a {
  font-size: 13px;
  color: #ebebeb;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 4px 10px;
  margin: 7px 0px 0px;
  display: block;
  text-decoration: underline;
  font-weight: 500;
  text-decoration: none;
}

.footer-column-links a :hover {
  color: #ebebeb;
}

.footer-column-links-tags a {
  font-size: 10px;
  text-transform: uppercase;
  background: #4242421e;
  border: 1px solid rgba(255, 255, 255, 0.271);
  color: #ebebeb;
  letter-spacing: .9px;
  line-height: 14px;
  font-weight: 600;
  padding: 8px 15px;
  display: inline-block;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-border-radius: 17px;
}

.footer-section p:hover {
  color: #DA1C5C;
}

.footer-column-links a:hover {
  color: #DA1C5C;
}

.footer-column-links-tags a:hover {
  color: white;
  transition: 0.4s ease-in-out;
  background-color: #DA1C5C;
  -webkit-border-radius: 13px;

}

.footer-post-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.footer-date {
  font-size: 12px;
  color: #ebebeb;
  text-transform: uppercase;
}

.footer-post-sec img {
  display: block;
  max-width: 100%;
  border-radius: 5%;
}

.footer-post-sec p {
  font-size: 12px;
  color: #ebebeb;
}

.footer-section h6 {
  font-size: 13px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 600;
  color: #ebebeb;
  text-transform: uppercase;
}

.footer-top {
  border-bottom: 3px rgba(255, 255, 255, .05) solid;
  border-width: 2px;
  padding: 20px 0px 10px;
}

.footer-social-icons a {
  color: #ebebeb;
  font-size: 14px;
  text-align: center;
  margin: 6px;
}

.footer-social-icons a:hover {
  color: #DA1C5C;
  -webkit-transition: all .15s;
}


.footer-delevery-process{
  background-color: #0d0d0d; 
  padding: 30px 0px 30px;
}
.footer-delevery-process p{
  font-size: 13px;
  letter-spacing: 1px;
}
.footer-delevery-process i{
  font-size: 29px;
  color:#949494;
  margin-bottom: 13px;
}




.copyright-section p {
  font-size: 13px;
  color: #ebebeb;
  font-family: "DIN Next", sans-serif;
}

.agency-copy {
  color: #ebebeb;
  text-decoration: none;
}

.footer-social-nav li {
  list-style-type: none;
  font-size: 13px;
}

.footer-social-nav li a {
  font-size: 13px;
  border: 1px solid ;
  padding: 5px 6px;
  border-radius: 23px;
  border: 1px solid rgba(255, 255, 255, 0.271);
  margin-right: 3px;
}