
/* blog-section */

body h5{
  font-size: 23px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
body h6{
  font-family: "Poppins", sans-serif;
}
body p{
  font-family: "Poppins", sans-serif;
}
.article-next-prev-btn .btn{
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
}


.blog-section {
  padding: 20px 0px 20px;
}

.blog-right-social .blog-social-icons li {
  list-style-type: none;
  margin-right: 14px;
  border: 1px solid black;
  display: flex;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #0d0d0d;
}

.blog-right-social p{
  font-family: "Poppins", sans-serif;
  line-height: 28px;

}
.blog-right-social .blog-social-icons li a {
  color: white;
  font-family: "Poppins", sans-serif;

}

.blog-about-star-sec li {
  list-style-type: none;
  margin-right: 7px;
}
.blog-right-categories h4 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.blog-right-categories li {
  list-style-type: none;
  margin-bottom: 4px;
}
.blog-right-categories li a {
  color: #0d0d0d;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
.latest-post h4 {
  font-size: 19px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  border-bottom: 2px solid rgba(128, 128, 128, 0.464);
}

.blog-right-middle-para p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 29px;
  font-family: sans-serif;
}


.blog-right-bottom-social li {
  list-style-type: none;
  margin-right: 15px;
  font-family: "Poppins", sans-serif;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #0d0d0d;
}
.blog-right-bottom-social li a {
  color: white;
}

.card-bottom-bg-blue {
  background-color: #00234d;
  color: white;
  border-left: 10px solid #f76b6a;
  padding: 20px 0px 20px;
  transform: skew(-4deg);
}
.card-bottom-bg-blue h5 {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  letter-spacing: 0.3px;
}
.card-bottom-bg-blue h6 {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #f76b6a;
}

.article-next-prev-btn .prev-btn {
  border: 2px solid black;
  padding: 7px 20px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;

}
.article-next-prev-btn .next-btn {
  border: 2px solid #212529;
  color: white;
  font-size: 15px;
  background-color: #212529;
  padding: 7px 20px;
}
.popular-tags li {
  list-style-type: none;
  margin-bottom: 10px;
  display: inline-block;
}
.popular-tags a {
  color: white;
  text-decoration: none;
  -webkit-border-radius: 2px;
  font-size: 17px;
  font-weight: 400;
  background-color:#0d0d0d;
  padding: 8px 15px;
  text-align: center;
  padding: 5px 17px;
  font-family: "Poppins", sans-serif;
}
.blog-right-middle-para p{
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}


.text-bottom-circle{
  background-color:yellow;
  height: 19px;
  text-align: center;
  width: 19px;
  border-radius: 50%;
  position: relative;
  left: 41%;
  transform: translate(-50%, -79%);

}
.reusable-relative{
  position: relative;
}
.reusable-relative::before{
  position: absolute;
  content: "";
  background-color:white;
  height: 4px;
  width: 17%;
  top: 61%;  
  left: 50%;
  transform: translate(-50%, -50%);
}