
.payment-summary-body {
  background-color: #ebebeb;
}
.main-top-cart-delivery-section td{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.payment-summary-body h5 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;

}
.place-order-btn .btn {
  background-color: #256a8f;
  border: none;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 6px 30px;
  font-size: 16px;
  text-transform: uppercase;
}
