

.all-cat-section{
  background-color:#ebebebd0;
}

.categeory-main-wrapper{
  max-width: 1024px !important;
  background-color:#256a8f;
}
.all-cat-section{
    padding: 30px 0px 10px;
}
.all-cat-section span{
  font-weight: 500;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  
  
}
.categories-bg-img-body .btn{
  background-color:#256a8f;
  color: white;
  font-family: "Poppins", sans-serif;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
}
  .categories-bg-img{
    background-image: url(../img/men\ t\ shirt-bg.png);
    background-repeat: no-repeat;
    padding: 20px 20px;
    background-size: cover;
    
  }
  .categories-bg-img-jacket{
    background-image: url(../img/jackets.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 20px;

    
  }
  .categories-bg-img-shoes{
    background-image: url(../img/item3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 20px;

  }
  .categories-bg-img-Sunglasses{
    background-image: url(../img/item4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 20px;

  }
  .categories-bg-img-winter{
    background-image: url(../img/winter.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 20px;

  }
  .categories-bg-img-item-1{
    background-image: url(../img/item2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 20px;

  }
  .categories-bg-img-item-2{
    background-image: url(../img/item1.\(1\).jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 20px;

  }
  .categories-bg-img-item-3{
    background-image: url(../img/shoes.png);
    
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 20px;

  }
  .categories-bg-img-item-4{
    background-image: url(../img/Sunglasses.png);
    padding: 20px 20px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .categories-bg-img-body{
    padding: 10px ;
  }
  
