
/* contact-us-section */
.contact-us-section{
    padding: 20px 0px 20px;
    max-width: 1024px;
    margin: 0px auto;
    font-family: "Poppins", sans-serif;

}
.contact-us-section .contact-top-info{
  font-size: 16px;
  line-height: 29px;
}
.contact-us-section .contact-additional-info li{
list-style-type: none;
font-size: 16px;
font-weight: 400;
}

.contact-us-section .contact-additional-info a{
text-decoration: none;
color:#282727;
font-weight: 400;
}
.contact-us-left-social {
  display: flex;
  align-items: center;
}
.contact-us-left-social li{
margin-right: 10px;
display: flex;
justify-content: center;
align-items: center;
padding: 7px 14px;
border-radius: 5px;
border: 2px solid #256a8f;;
}
.contact-us-submit-btn .btn{
  background-color:#256a8f;
  padding: 8px 40px;
  font-size: 16px;
  color: white;
  border-radius: 2px;
}

input{ 
	width:100%; 
	font-size: 16px; 
	padding: 7px 10px; 
} 

.text-bottom-circle{
  background-color:yellow;
  height: 19px;
  text-align: center;
  width: 19px;
  border-radius: 50%;
  position: relative;
  left: 41%;
  transform: translate(-50%, -79%);

}
.reusable-relative{
  position: relative;
}
.reusable-relative::before{
  position: absolute;
  content: "";
  background-color:white;
  height: 4px;
  width: 17%;
  top: 61%;  
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 767px) {
  /* contact-us-section */
.contact-us-section{
  padding: 10px 0px 20px;
}
.contact-us-section .contact-top-info{
font-size: 14px;
line-height: 24px;
}
.contact-us-section .contact-additional-info li{
font-size: 14px;
}
.contact-us-left-social li{
padding: 5px 12px;
}
.contact-us-submit-btn .btn{
padding: 5px 30px;
font-size: 14px;
}
#userForm label{
font-size: 14px;
font-weight: 400;
}

#userForm input{
font-size: 14px;
}

.text-bottom-circle{
height: 14px;
width: 14px;
border-radius: 50%;
position: relative;
left: 24.5%;
transform: translate(-50%, -79%);
}
.reusable-relative::before{
position: absolute;
height: 3px;
width: 50%;
top: 61%;  
left: 50%;
transform: translate(-50%, -50%);
}
}
