* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* navbar */
.navbar {
  background-color: #0d6efd;
}

.navbar-nav a {
  font-size: 13px;
  color: white;
  letter-spacing: 1px;
  position: relative;
}

.dropdown-item {
  color: black !important;
}

.nav-brand-icons .nav-item i {
  font-size: 13px;
}

.dropdown-toggle::after {
  color: white;
}

.nav-brand-icons .btn {
  text-decoration: none;
  background-color: white;
  color: #0d0d0d;
  font-weight: 500;
  padding: 4px 18px;
  border-radius: 2px;
}

.navbar input {
  width: 370px;
  letter-spacing: 1px;
  font-size: 13px;
  border-radius: 8px;
}

/*  */
.banner-product-all-categories {
  padding: 30px 0px 20px;
}

.banner-product-all-categories-main-body h6 {
  font-size: 15px;
  font-weight: 500;
  color: #333333;
  letter-spacing: 1.5px;
}

.role-main-section {
  z-index: 2;
  position: relative;
  background-color: white;
}

/* left side */
.main-wrapper-section .home-leftside-wrapper .card {
  box-shadow: 0px 3px 26px rgba(0, 0, 0, 0.062745098);
}

.home-leftside-wrapper .card-body h5 {
  font-size: 17px;
}

.home-leftside-wrapper .card-body h6 {
  font-size: 14px;
}

.home-leftside-wrapper-price {
  color: #da1c5c;
  font-weight: 700;
}

.home-leftside-wrapper .card-body .home-leftside-wrapper-btn {
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  background-color: #0d6efd;
  border-radius: 23px;
  padding: 10px 16px;
}
/* .home-leftside-wrapper .card-body .home-leftside-wrapper-btn:hover {
  background-color: #0d0d0d;
  color: whitesmoke;
  transition: 0.3s ease-in-out;
} */

.home-leftside-wrapper .card-body .home-leftside-wrapper-btn:hover {
  background-color: white;
  color: #0d6efd;
  border: 1px solid #0d6efd;
}

.home-leftside-wrapper .card-body .home-leftside-wrapper-btn:hover {
  background-color: #0d0d0d;
  color: whitesmoke;
  transition: 0.3s ease-in-out;
}

/* right side */
/* product-cards */
.product-cap {
  display: flex;
  align-items: center;
  align-items: baseline;
  justify-content: space-between;
}

.product-cap h5 {
  font-size: 15px;
  color: #343434;
}

.product-cap a {
  font-size: 15px;
  text-decoration: none;
  color: #424242;
  font-weight: 500;
}

.product-cards .product-cards-main-body {
  position: relative;
  height: 100%;
}
.product-body .product-info {
  list-style-type: none;
  font-size: 13px;
  letter-spacing: 0.4px;
}
.product-body .product-name {
  font-size: 17px;
  font-style: italic;
  font-weight: 600;
  color: #0d0d0d;
  letter-spacing: 0.5px;
}

.product-body .discount {
  font-size: 15px;
  color: #da1c5c;
}

.product-cards .product-body .buy-now-btn .btn {
  background-color: #0eb2e82d;
  border: 2px dashed #08556f2d;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.7px;
  border-radius: 23px;
  color: black;
  padding: 7px 23px;
}

.product-tag {
  position: absolute;
  top: 0;
  right: 2px;
}

.badge-secondary {
  width: 40px;
  opacity: 1;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  background-color: #0d0d0d;
  border: 2px solid #0eb2e8;
}

.badge-secondary:hover {
  background-color: #0d6efd;
  transition: 0.3s ease-in-out;
}
.badge-secondary a:hover {
  color: white;
}
.badge-secondary a {
  color: whitesmoke;
}

.product-price {
  color: #0d775e;
  font-weight: 700;
  font-size: 18px;
}

.product-body .left-sidebar-yellow-star {
  font-size: 14px;
  color: #0d6efd;
  margin-bottom: 4px;
}

.product-body .home-card-btn {
  color: #da1c5c;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

/* computer-section */
.computer-section {
  padding: 20px 0px 30px;
}

.computer-main-body-content .computer-main-card-body {
  position: relative;
}

.product-tag-computer-section {
  position: absolute;
  font-weight: 400;
  top: 0;
  right: 2px;
}

.computer-section .badge-secondary {
  width: 40px;
  opacity: 1;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  background-color: #150a0a42;
  border: 1px solid #0eb2e8;
}

.computer-section .badge-secondary:hover {
  background-color: black;
}

.computer-section .badge-secondary a:hover {
  color: white;
}

.computer-main-body-content .buy-now-btn .btn {
  background-color: #0eb2e82d;
  border: 2px dashed #08556f2d;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.7px;
  border-radius: 23px;
  color: black;
  padding: 7px 23px;
}

/* parallax-section */

.homepage-parallax-section-1 {
  background-image: url(../homepageimages/parallax-1.webp);
  height: 50vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 59% 45%;
  background-attachment: fixed;
}

.parallax-body-content {
  padding: 80px 0px;
}

.parallax-body-content h2 {
  color: white;
  font-weight: 600;
  font-size: 40px;

  letter-spacing: 2px;
}

.parallax-body-content a {
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid white;
  letter-spacing: 2px;
}

.homepage-parallax-section-2 {
  background-image: url(../homepageimages/parallax-2.webp);
  height: 50vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
}

.homepage-parallax-section-3 {
  background-image: url(../homepageimages/parallax-3.webp);
  height: 45vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
}

.homepage-parallax-section-4 {
  background-image: url(../homepageimages/parallax-4.webp);
  height: 38.5vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
}

/* electronic-section */
.electronic-section {
  padding: 20px 0px 30px;
}

.electronic-section .badge-secondary {
  width: 40px;
  opacity: 1;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  background-color: #150a0a42;
  border: 1px solid #0eb2e8;
}

.electronic-section .badge-secondary:hover {
  background-color: black;
}

.electronic-section .badge-secondary a:hover {
  color: white;
}

.electronic-section-main-body-content .electronic-section-card-body {
  position: relative;
}

.product-tag-electronic-section {
  position: absolute;
  font-weight: 400;
  top: 0;
  right: 2px;
}

.electronic-section .buy-now-btn .btn {
  background-color: #0eb2e82d;
  border: 2px dashed #08556f2d;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.7px;
  border-radius: 23px;
  color: black;
  padding: 7px 23px;
}

/* trending-section */
.trending-section {
  background-color: #ebebeb1c;
}

.trending-section h4 {
  color: #343434;
  font-style: italic;
  letter-spacing: 1.7px;
  font-weight: 700;
}

.trending-section.trending-main-body {
  position: relative;
}

.trending-section .badge-secondary {
  width: 40px;
  opacity: 1;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  background-color: #150a0a42;
  border: 1px solid #0eb2e8;
}

.trending-section .badge-secondary:hover {
  background-color: black;
}

.trending-section .badge-secondary a:hover {
  color: white;
}

.product-tag-trending-section {
  position: absolute;
  font-weight: 400;
  top: 0;
  right: 16px;
}

.trending-section .buy-now-btn .btn {
  background-color: #0eb2e82d;
  border: 2px dashed #08556f2d;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.7px;
  border-radius: 23px;
  color: black;
  padding: 7px 23px;
}

/* our-team-section */

.our-team-section {
  background-color: #ebebeb2c;
  padding: 20px 0px 20px;
}

.our-team-section .our-team-section-top-content h2 {
  font-size: 36px;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #1b4ed1,
    0 0 20px rgba(53, 110, 255, 0.45098039215686275),
    0 0 55px rgba(53, 110, 255, 0.45098039215686275);
}

.our-team-section .our-team-section-top-content p {
  font-weight: 400;
  color: #6a6a6a;
  line-height: 1.45;
  font-family: "Open Sans", sans-serif;
  font-size: 17.5px;
  letter-spacing: 1px;
}

.our-team-section .hire-team-btn .btn {
  font-size: 13px;
  letter-spacing: 0.7px;
  color: #fff;
  background-color: #ff3b30;
  border-radius: 23px;
  font-weight: 600;
  padding: 0.4rem 1.4rem;
}

.our-team-section .card .card-img-top {
  width: 120px;
  display: block;
  margin: 0px auto;
}

.our-team-section .card {
  padding: 25px;
  flex-wrap: wrap;
  border: 3px solid #00a5ff;
  box-shadow: 0 0 20px rgba(53, 110, 255, 0.45098039215686275);
  border-radius: 10px;
  margin: 10px 0px;
}

.our-team-section .card h4 {
  color: #404040;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 15px;
}

.our-team-section .card h6 {
  color: #949494;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 22px;
}

.our-team-section .card .card-body a {
  font-size: 17px;
}

.our-team-section .card .card-body a {
  font-size: 17px;
  text-decoration: none;
}

/*Limited-offers-section */
.Limited-offers-section {
  padding: 20px 0px 20px;
}

.Limited-offers-section .bg-pink {
  background-color: #ffd9eb;
}

.Limited-offers-section h6 {
  font-size: 14px;
  color: white;
  background-color: #9b51e072;
  padding: 4px 10px;
  letter-spacing: 1px;
  font-weight: 500;
  border-radius: 23px;
}

.Limited-offers-section h4 {
  font-size: 23px;
  font-weight: 600;
}

.Limited-offers-section .limited-offer-btn .btn {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: #2d2237;
  color: white;
  padding: 6px 20px;
  border-radius: 23px;
}

/* Cosmetics-sales-section */

.Cosmetics-sales-section {
  padding: 20px 0px 20px;
}

.Cosmetics-sales-section .card {
  background-color: #0d6efd;
  color: white;
  position: relative;
}

.sale-position {
  position: absolute;
  right: 10px;
  top: 0;
}

.Cosmetics-sales-section .first-card .card-body h5 {
  font-size: 19px;
  letter-spacing: 1px;
}

.Cosmetics-sales-section .first-card .card-body p {
  font-size: 14px;
  letter-spacing: 1px;
}

.Cosmetics-sales-section .first-card .card-body .glasses-btn .btn {
  font-size: 13px;
  color: #fff;
  background-color: rgb(255 255 255 / 15%);
  border-color: rgb(255 255 255 / 15%);
  padding: 10px 10px;
}

.Cosmetics-sales-section .second-card .card-body h5 {
  font-size: 19px;
  letter-spacing: 1px;
}

.Cosmetics-sales-section .second-card .card-body p {
  font-size: 14px;
  letter-spacing: 1px;
}

.Cosmetics-sales-section .second-card .card-body .Cosmetics-btn .btn {
  font-size: 13px;
  color: #fff;
  background-color: rgb(255 255 255 / 15%);
  border-color: rgb(255 255 255 / 15%);
  padding: 10px 10px;
}

.Cosmetics-sales-section .third-card .card-img-overlay {
  top: 20%;
}

.Cosmetics-sales-section .third-card .card-img-overlay .summer-btn .btn {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 600;
  color: black;
  background-color: white;
  padding: 10px 10px;
}

.Cosmetics-sales-section .forth-card .card-body h2 {
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 1px;
}

.Cosmetics-sales-section .forth-card .card-body h6 {
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 1px;
}

.Cosmetics-sales-section .forth-card .card-body p {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}

.Cosmetics-sales-section .forth-card .card-body .hurry-up-btn .btn {
  font-size: 13px;
  color: #fff;
  background-color: rgb(255 255 255 / 15%);
  border-color: rgb(255 255 255 / 15%);
  padding: 8px 20px;
}

/* Discover Latest Offer */
.Discover-Latest-Offer {
  padding: 20px 0px 20px;
  background-color: #ebebeb;
}

.Discover-Latest-Offer h3 {
  font-size: 29px;
  font-weight: 700;
  letter-spacing: 1px;
}

.Discover-Latest-Offer .btn {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: #2d2237;
  color: white;
  padding: 6px 20px;
  border-radius: 23px;
}

/* homepage-bottom-newslater-section */
.homepage-bottom-newslater-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(../homepageimages/newslater-bg.jpeg);
  padding: 40px 0px 50px;
}
.homepage-bottom-newslater-section .newslater-body h4 {
  color: white;
  font-size: 30px;
  font-weight: 700;
}
.homepage-bottom-newslater-section .newslater-body input {
  background-color: rgba(255, 255, 255, 0.119);
  border: 1px solid rgb(255 255 255 / 62%);
}
.homepage-bottom-newslater-section .newslater-body .btn {
  font-size: 16px;
  border: 1px solid rgb(255 255 255 / 62%);
}
.homepage-bottom-newslater-section .newslater-body .btn:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.119);
}

/* brand-company-section */
.brand-company-section {
  padding: 30px 0px 50px;
  background-color: #f9f9f9;
}

.brand-company-section img {
  padding: 8px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.089);
}

.brand-company-section h4 {
  font-size: 32px;
  letter-spacing: 2px;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.brand-company-section p {
  font-size: 18px;
  color: #424242;
  font-weight: 600;
  letter-spacing: 1px;
}

/* footer */
.footer-section {
  position: sticky;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
  /* background: #222; */
  background-color: #0d6efd;
  background-image: url(../homepageimages/Group\ 48095504\ footer-bg.svg);
  padding: 30px 0px 10px;
}

.footer-left-sec p {
  font-size: 13px;
  letter-spacing: 0.7px;
  font-weight: 500;
  color: #ebebeb;
}

.left-socials-icons a {
  color: #ebebeb;
  border: 1px solid white;
  padding: 8px;
  font-size: 10px;
  border-radius: 100%;
}

.footer-column-links a {
  font-size: 11px;
  color: #ebebeb;
  text-transform: uppercase;
  padding: 4px 10px;
  margin: 7px 0px 0px;
  display: block;
}

.footer-column-links-tags a {
  font-size: 11px;
  border: 1px solid rgba(255, 255, 255, 0.271);
  color: #ebebeb;
  letter-spacing: 0.9px;
  line-height: 14px;
  font-weight: 600;
  padding: 8px 15px;
  display: inline-block;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-border-radius: 17px;
}
.footer-column-links-tags a:hover {
  color: white;
  transition: 0.4s ease-in-out;
  background-color: #da1c5c;
  -webkit-border-radius: 13px;
}

.footer-post-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.footer-date {
  font-size: 10px;
  color: #ebebeb;
  text-transform: uppercase;
}

.footer-post-sec img {
  display: block;
  max-width: 100%;
  border-radius: 5%;
}

.footer-post-sec p {
  font-size: 12px;
  color: #ebebeb;
}

.footer-section h6 {
  font-size: 13px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 600;
  color: #ebebeb;
  text-transform: uppercase;
}

.footer-top {
  border-bottom: 3px rgba(255, 255, 255, 0.05) solid;
  border-width: 2px;
  padding: 20px 0px 10px;
}

.footer-social-icons a {
  color: #ebebeb;
  font-size: 13px;
  text-align: center;
  margin: 6px;
}

.footer-delevery-process {
  padding: 30px 0px 30px;
}

.footer-delevery-process p {
  font-size: 11px;
  letter-spacing: 1px;
}

.footer-delevery-process i {
  font-size: 20px;
  /* color: #949494; */
  margin-bottom: 13px;
}

.copyright-section p {
  font-size: 11px;
  color: #ebebeb;
  font-family: "DIN Next", sans-serif;
}

.agency-copy {
  color: #ebebeb;
  text-decoration: none;
}

.footer-social-nav li {
  list-style-type: none;
  font-size: 11px;
}

.window-top-bottom-scroll {
  background-color: white;
  position: fixed;
  bottom: 0;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.window-top-bottom-scroll .btn {
  padding: 10px 20px;
  font-size: 13px;
}

.footer-social-nav li a {
  font-size: 13px;
  border: 1px solid;
  padding: 5px 6px;
  border-radius: 23px;
  border: 1px solid rgba(255, 255, 255, 0.271);
  margin-right: 3px;
}

/* 984 */
