* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* navbar */
.navbar {
  background-color: whitesmoke;
}

.navbar-nav a {
  font-size: 14px;
  color: #343434;
  letter-spacing: 1px;
}

.nav-brand-icons .nav-item i {
  font-size: 15px;
}

.dropdown-toggle::after {
  color: #E80E50;
}

.nav-brand-icons .btn {
  text-decoration: none;
  background-color: #150a0a67;
  color: white;
  font-weight: 400;
  padding: 4px 8px;
  border-radius: 5px;
}

.navbar input {
  width: 370px;
  height: 40px;
  letter-spacing: 1px;
  font-size: 14px;
  border-radius: 11px;
}







/*  */
.banner-product-all-categories-main-body h6 {
  font-size: 17px;
  font-family: sans-serif;
  font-weight: 600;
  color: #333333;
  letter-spacing: 1px;
}

/* left side */
.main-wrapper-section .home-leftside-wrapper .card {
  box-shadow: 0px 3px 26px rgba(0, 0, 0, 0.062745098);
}

.home-leftside-wrapper .card-body h5 {
  font-size: 16px;
}

.home-leftside-wrapper .card-body h6 {
  font-size: 12px;
}

.home-leftside-wrapper-price {
  color: #f22a59;
  font-weight: 700;
}

.home-leftside-wrapper .card-body .home-leftside-wrapper-btn {
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  background-color: #F92931;
  border-radius: 7px;
  padding: 6px 10px;
}

/* right side */
/* product-cards */
.product-cap {
  display: flex;
  align-items: center;
  align-items: baseline;
  justify-content: space-between;
}
.product-cap h5 {
  font-size: 15px;
  color: #343434;
}

.product-cap a {
  font-size: 13px;
  text-decoration: none;
  color: #424242;
  font-weight: 500;
}

.product-cards {
  background: rgba(206, 132, 41, 0.067);
}


.product-cards .product-cards-main-body {
  position: relative;
  height: 100%;
  background-color: white;
}

.product-body .product-info {
  list-style-type: none;
  font-size: 13px;
  letter-spacing: 0.7px;
}


.product-body .product-name {
  font-size: 17px;
  font-style: italic;
  font-weight: 600;
  color: #DA1C5C;
  letter-spacing: 0.7px;
}

.product-body .discount {
  font-size: 15px;
  color:#DA1C5C;
}
.product-cards .product-body .buy-now-btn .btn{
  background-color: #0eb2e82d;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 23px;
  color: black;
  padding: 4px 23px;
}

.product-tag {
  position: absolute;
  font-weight: 400;
  top: 0;
  right: 2px;
}

.badge-secondary {
  width: 40px;
  opacity: 1;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  background-color: #150a0a42;
  border: 1px solid #0EB2E8;
}

.badge-secondary a {
  color: whitesmoke;
}

.product-price {
  color: #0D775E;
  font-weight: 700;
  font-size: 18px;
}

.product-body .left-sidebar-yellow-star {
  font-size: 11px;
  color: black;
  margin-bottom: 4px;
}

.product-body .home-card-btn {
  color: #DA1C5C;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}




/* computer-section */
.computer-section {
  padding: 20px 0px 30px;
}

.computer-main-body-content .computer-main-card-body {
  position: relative;
}


.product-tag-computer-section {
  position: absolute;
  font-weight: 400;
  top: 0;
  right: 2px;
}

.computer-section .badge-secondary {
  width: 40px;
  opacity: 1;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  background-color: #150a0a42;
  border: 1px solid #0EB2E8;
}

.computer-main-body-content .buy-now-btn .btn{
  background-color: #0eb2e82d;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 23px;
  color: black;
  padding: 4px 23px;
}

/* parallax-section */


.homepage-parallax-section-1 {
  background-image: url(../homepageimages/parallax-1.webp);
  height: 50vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 59% 45%;
  background-attachment: fixed;
}

.homepage-parallax-section-2 {
  background-image: url(../homepageimages/parallax-2.webp);
  height: 50vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
}

.homepage-parallax-section-3 {
  background-image: url(../homepageimages/parallax-3.webp);
  height: 45vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
}

.homepage-parallax-section-4 {
  background-image: url(../homepageimages/parallax-4.webp);
  height: 38.5vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
}






/* electronic-section */
.electronic-section {
  padding: 20px 0px 30px;
}

.electronic-section .badge-secondary {
  width: 40px;
  opacity: 1;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  background-color: #150a0a42;
  border: 1px solid #0EB2E8;
}

.electronic-section-main-body-content .electronic-section-card-body {
  position: relative;
}

.product-tag-electronic-section {
  position: absolute;
  font-weight: 400;
  top: 0;
  right: 2px;
}

.electronic-section .buy-now-btn .btn{
   background-color: #0eb2e82d;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 23px;
  color: black;
  padding: 4px 23px;
}



/* trending-section */
.trending-section h4 {
  color: #343434;
  font-style: italic;
  letter-spacing: 1.7px;
  font-weight: 700;
}



.trending-section.trending-main-body  {
  position: relative;
}

.trending-section .badge-secondary {
  width: 40px;
  opacity: 1;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  background-color: #150a0a42;
  border: 1px solid #0EB2E8;
}

.product-tag-trending-section {
  position: absolute;
  font-weight: 400;
  top: 0;
  right: 16px;
}

.trending-section .buy-now-btn .btn{
  background-color: #0eb2e82d;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 23px;
  color: black;
  padding: 4px 23px;
}


/* brand-company-section */
.brand-company-section {
  padding: 30px 0px 50px;
  background-color: #f9f9f9;
}

.brand-company-section img {
  max-width: 100%;
  padding: 10px;
  box-shadow: 0.00px 1.00px 3px 0px rgba(0, 0, 0, 0.21);
}

.brand-company-section h4 {
  font-size: 19px;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.brand-company-section p {
  font-size: 15px;
  color: #424242;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




/* footer */
.footer-section {
  background-color:#a7c0c167;
  padding: 30px 0px 10px;
}

.footer-left-sec p {
  font-size: 13px;
  letter-spacing: 0.7px;
  font-family: "DIN Next", sans-serif;
  color:#333333;
}

.left-socials-icons a {
  color: #333333;
  border: 1px solid #333333;
  padding: 5px 8px;
  font-size: 12px;
  border-radius: 4px;
}
.footer-column-links a {
  font-size: 12px;
  color: #333333fc;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 4px 10px;
  margin: 7px 0px 0px;
  display: block;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.3px;
}

.footer-column-links a :hover {
  color: #0EB2E8;
}

.footer-column-links-tags a {
  font-size: 10px;
  text-transform: uppercase;
  background: #4242421e;
  border: 1px solid rgba(0, 0, 0, 0.152);
  color: #333333d4;
  letter-spacing: .9px;
  line-height: 14px;
  font-weight: 600;
  padding: 8px 15px;
  display: inline-block;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-border-radius: 17px;
}

.footer-section p:hover {
  color: #DA1C5C;
}

.footer-column-links a:hover {
  color: #DA1C5C;
}

.footer-column-links-tags a:hover {
  color: white;
  transition: 0.4s ease-in-out;
  background-color: #DA1C5C;
  -webkit-border-radius: 13px;

}

.footer-post-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.footer-date {
  font-size: 11px;
  color: #333333;
  text-transform: uppercase;
}

.footer-post-sec img {
  display: block;
  max-width: 100%;
  border-radius: 5%;
}

.footer-post-sec p {
  font-size: 12px;
  color:#333333;
}

.footer-section h6 {
  font-size: 13px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 600;
  color: black;
  text-transform: uppercase;
}

.footer-top {
  border-bottom: 3px rgba(255, 255, 255, .05) solid;
  border-width: 2px;
  padding: 20px 0px 10px;
}

.footer-social-icons a {
  color: #333333;
  font-size: 14px;
  text-align: center;
  margin: 6px;
}

.footer-social-icons a:hover {
  color: #DA1C5C;
  -webkit-transition: all .15s;
}

.copyright-section p {
  font-size: 13px;
  color: #333333;
  font-family: "DIN Next", sans-serif;
}

.agency-copy {
  color: #DA1C5C;
  text-decoration: none;
}

.footer-social-nav li{
  list-style-type: none;
  font-size: 13px;
}
.footer-social-nav li a{
  font-size: 13px;
  border: 1px solid rgba(0, 0, 0, 0.207);
  padding: 5px 6px;
  border-radius: 23px;
  margin-right: 3px;
}