@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jersey+15+Charted&family=Lalezar&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sedan:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lalezar&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sedan:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lalezar&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sedan:ital@0;1&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&family=Kurale&family=Yeseva+One&display=swap');* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body{
  background-color: #f1f5f9;
  overflow-x: hidden;
}

body p{
  font-size: 17px;
  font-weight: 400;
}

body a{
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.chatbot-icon-section{
  position: fixed;
  right: 0;
  bottom: 0;
}
.chatbot-icon-section .btn-primary{
  border-radius: 50%;
  padding: 13px;
}


.navbar-section {
  background: linear-gradient(90deg, #63586f, #453434bf); 
   padding: 4px 0px 4px;
}
.nav-sign-btn .btn {
  border: 1px solid white;
  background-color: rgba(59, 70, 109, 0.555);
  font-family: "Acme", sans-serif;
  color: white;
  letter-spacing: 1px;
  padding: 5px 20px;
  font-size: 16px;
  border-radius: 6px;
}
.offcanvas-body ul li {
  list-style-type: none;
}
.hammer {
  color: white;
}
.hammer:hover {
  color: white;
}

.navbar-bottom-nav a {
  font-family: "Acme", sans-serif;
  color:#fafafa;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
}

.navbar-bottom-nav a::after {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, #45e0b9cf, #22e5f3);
  height: 4px;
  left: 0;
  bottom: -4px;
  right: 0;
  margin: 0 auto;
  transform: scaleX(0);
  transition: 0.3s ease-in-out;
}
.navbar-bottom-nav a:hover::after {
  transform: scaleX(1);
}
.navbar-bottom-nav li {
  list-style-type: none;
  margin-right: 16px;
}
.navbar-bottom-nav {
  display: flex;
  align-items: center;
}
.offcanvas-body ul a {
  list-style-type: none;
  font-size: 16px;
  font-weight: 400;
  font-family: "Acme", sans-serif;
  color: white;
}
.offcanvas-body ul a:hover {
  text-decoration: underline;
  color:white;
}
.offcanvas-body {
  background: linear-gradient(90deg, #231a2d, #090707bf);
}

.offcanvas-social-icons {
  display: flex;
}
.offcanvas-social-icons li {
  margin-right: 12px;
  list-style-type: none;
}
.offcanvas-social-icons a {
  border: 1px solid;
  padding: 8px 13px;
  border-radius: 5px;
}
.offcanvas-left-call-btn .btn {
  font-size: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  font-family: "Acme", sans-serif;
  color: white !important;
  padding: 2px 10px;
  width: fit-content;
  border: 1px solid;
}

.header-input {
  width: 100%;
  padding: 10px 7px;
  font-weight: 300;
  font-family: "Acme", sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  border-radius: 4px;
  color: #0d0d0d;
  border: none;
}
.accordion-flush .accordion-item .accordion-button{
  font-size: 16px;
  font-weight: 400;
  font-family: "Acme", sans-serif;
}
.header-input-body{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-input-body-glass{
  margin-left: -46px;
  border-radius: 3px;
}
.accordion-button {
  background: linear-gradient(90deg, #231a2d, #090707bf); 
  color: white;
  border: none;
}
.accordion-item {
  border: none;
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
}
.accordion-button:not(.collapsed):after {
  content: "-";
  background-image: none;
}
.accordion-button:after {
  content: "+";
  color: #ee750b;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 900;
  background-image: none;
  margin-left: 8px;
}
.profile-owner h4 {
  font-family: "Acme", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 20px;
  margin-bottom: 0px;
}
.profile-owner span {
  font-family: "Acme", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
}
.accordion-body{
  background: linear-gradient(90deg, #231a2d, #090707bf); 
  font-family: "Acme", sans-serif;
}
.accordion-collapse div{
  font-family: "Acme", sans-serif !important;
}
.view-site-or-profile h5{
  color: white;
  letter-spacing: 0.5px;
  font-family: "Acme", sans-serif !important;
  font-size: 16px;
  margin-bottom: 10px;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}






/* profile-Section */
.main-profile-wrapper-body{
  padding: 20px 0px 40px;
  background-color:#ebebeb;
  font-family: "Poppins", sans-serif;
}

.main-profile-wrapper-body span{
  font-size: 16px;
  font-weight: 400;
}
.main-profile-wrapper-body .title-bar h6{
  font-weight: 600;
  font-size: 21px;
}
.main-profile-wrapper-body .container{
  max-width: 1020px !important;
  margin: 0px auto;
}
.main-profile-wrapper-body .profile-area .main-profile {
  margin-bottom: 20px;
  display: flex;
  position: relative;
  align-items: center;
}
.content-box ul li {
  list-style-type: none;
}
.main-profile-wrapper-body .hrtag {
  color: black;
  border-bottom: 2px dotted;
  display: block;
  width: 100%;
  height: 2px;
}

/* Cart-Section */
.main-top-cart-delivery-section td{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}








/*==== banner-product-all-categories ====// */

.banner-product-all-categories {
  padding: 40px 0px 20px;
}

.banner-product-all-categories-main-body h6 {
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #333333;
}
.banner-product-all-categories-main-body .categories-brand {
  padding: 10px 0px;
}

/* second-section-carousel */
.second-section-carousel {
  padding: 20px 0px 30px;
}

.owl-theme .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active {
  background: #2639ed;
  display: none;
}
.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled{
  display: block;
  font-size: 40px;
  display: flex;
  justify-content: center;
}
.owl-prev{
  margin-right: 20px;
}


/*Limited-offers-section */
.Limited-offers-section {
  padding: 30px 0px 30px;
}

.Limited-offers-section .bg-pink {
  background-color: #125b9e;
  border-radius: 10px;
}

.Limited-offers-section h6 {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: #00a5ff;
  border-radius: 6px;
  width: 200px;
  margin: 0px auto;
  padding: 6px 10px;
  font-weight: 500;
}

.Limited-offers-section h4 {
  font-size: 23px;
  color: white;
  line-height: 35px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.Limited-offers-section .limited-offer-btn .btn {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #2d2237;
  color: white;
  padding: 6px 20px;
  border-radius: 23px;
}

/* left side */
.main-wrapper-section .home-leftside-wrapper .card {
  box-shadow: 0px 4px 21.7px 0px #0000002b;
}

.home-leftside-wrapper .card-body h5 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.home-leftside-wrapper .card-body h6 {
  font-size: 14px;
}

.home-leftside-wrapper-price {
  color: #da1c5c;
  font-weight: 700;
}

.home-leftside-wrapper .card-body .home-leftside-wrapper-btn {
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  background-color: #0d6efd;
  border-radius: 2px;
  padding: 8px 16px;
}

.home-leftside-wrapper .card-body .home-leftside-wrapper-btn:hover {
  background-color: #0d0d0d;
  transition: 0.3s ease-in-out;
}

/* right side */
/* product-cards */

.product-cap {
  padding: 20px 0px 20px;
  position: relative;
}

.product-cap h5 {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-weight: 600;
  color: #343434;
}
.reausable-span {
  background-color: #0f2593;
  height: 14px;
  display: inline-block;
  width: 13px;
  border-radius: 15%;
}
.product-cap ::before {
  position: absolute;
  content: "";
  background-color: #0f2593;
  height: 3px;
  display: inline-block;
  width: 70%;
  top: 69px;
}
.product-cap p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.product-caption-btn .btn {
  border-radius: 4px;
  font-size: 16px;
  padding: 6px 26px 6px 26px;
  background-color: #0f2593;
  color: #fafafa;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.product-cards .product-cards-main-body {
  position: relative;
  height: 100%;
}
.product-cards-top-filter-input input {
  width: 70%;
  display: block;
  margin-left: auto;
  border: 2px solid #00a5ff;
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}
.product-cards-top-filter-input input::placeholder {
color: #0d0d0d;
}
.product-cards-top-filter-input {
  position: relative;
}
.product-card-top-search-glass{
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-50% -50%);
  background-color: #0d0d0d;
}
.product-card-top-search-glass .btn{
 color: white;
}
.product-cards-top-filter-input ul{
list-style-type: none;
}
.product-cards-top-filter-input ul{
 color: black;
 text-decoration: none;
 position: absolute;
 right: 40px;
 top: 0;
 transform: translate(-50% -50%);
}
.product-cards-top-filter-input ul li a{
color: #0d0d0d;
font-family: "Poppins", sans-serif;
}

.product-body .product-info {
  list-style-type: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.product-body .product-name {
  font-size: 19px;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: 600;
  color: #0d0d0d;
  letter-spacing: 0.5px;
}

.product-body .discount {
  font-size: 15px;
  color: #da1c5c;
}

.product-cards .product-body .buy-now-btn .btn {
  background-color: #00a5ff;
  font-size: 13px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  border-radius: 6px;
  color: white;
  padding: 6px 23px;
}

.product-tag {
  position: absolute;
  top: 10px;
  right: 10px;
}
.badge-secondary {
  width: 40px;
  opacity: 1;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  background-color: #00a5ff;
}

.badge-secondary:hover {
  background-color: #0d6efd;
  transition: 0.3s ease-in-out;
}
.badge-secondary a:hover {
  color: white;
}
.badge-secondary a {
  color: white;
}

.product-price {
  color: #0d775e;
  font-weight: 700;
  font-size: 18px;
}

.product-body .left-sidebar-yellow-star {
  font-size: 14px;
  color: #0d0d0d;
  margin-bottom: 4px;
}
.product-body .home-card-btn {
  color: #da1c5c;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

/* Discover Latest Offer */

.Discover-Latest-Offer {
  position: relative;
  padding: 20px 0px 20px;
  background-color: #ebebeb33;
}
.Discover-Latest-Offer-body ::before {
  position: absolute;
  content: "";
  background-color: #0f2593;
  height: 3px;
  width: 7%;
  top: 73px;
}
.Discover-Latest-Offer h3 {
  font-size: 29px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.Discover-Latest-Offer .btn {
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  background-color: tomato;
  color: white;
  padding: 6px 20px;
  border-radius: 23px;
}

/* computer-section */
.computer-section {
  padding: 30px 0px 50px;
}

.computer-main-body-content .computer-main-card-body {
  position: relative;
}

.product-tag-computer-section {
  position: absolute;
  font-weight: 400;
  top: 0;
  right: 2px;
}

.computer-section .badge-secondary {
  width: 40px;
  opacity: 1;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  background-color: #00a5ff;
}

.computer-section .badge-secondary:hover {
  background-color: #0d6efd;
  transition: 0.3s ease-in-out;
}
.computer-main-body-content .buy-now-btn .btn {
  background-color: #00a5ff;
  font-size: 13px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  border-radius: 6px;
  color: white;
  padding: 6px 23px;
}

/* parallax-section */

.homepage-parallax-section-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../homepageimages/parallax-1.webp);
  height: 50vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 59% 45%;
  background-attachment: fixed;
}
.parallax-relative {
  position: relative;
}
.parallax-body-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.parallax-body-content h2 {
  color: white;
  font-weight: 600;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
}

.parallax-body-content a {
  color: white;
  font-weight: 600;
  font-size: 16px;
  background-color: #0d6efd;
  letter-spacing: 2px;
}

.homepage-parallax-section-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url(../homepageimages/parallax-2.webp);
  height: 50vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
}

.homepage-parallax-section-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(../homepageimages/parallax-3.webp);
  height: 45vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
}

.homepage-parallax-section-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../homepageimages/parallax-4.webp);
  height: 38.5vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
}

/* Cosmetics-sales-section */

.Cosmetics-sales-section {
  padding: 20px 0px 20px;
}

.Cosmetics-sales-section .card {
  background-color: #0d6efd;
  color: white;
  position: relative;
}

.sale-position {
  position: absolute;
  right: 10px;
  font-size: 14px;
  background-color:tomato;
  border: 1px solid;
  border-radius: 50%;
  padding: 7px;
  top: 0;
}

.Cosmetics-sales-section .first-card .card-body h5 {
  font-size: 23px;
  font-family: "Poppins", sans-serif;
}

.Cosmetics-sales-section .first-card .card-body p {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 27px;
  font-family: "Poppins", sans-serif;
}

.Cosmetics-sales-section .first-card .card-body .glasses-btn .btn {
  font-size: 14px;
  color: #fff;
  background: linear-gradient(90deg, #cc7c6a, #ff398b);
  border-color: rgb(255 255 255 / 15%);
  padding: 10px 10px;
  font-family: "Poppins", sans-serif;
}

.Cosmetics-sales-section .second-card .card-body h5 {
  font-size: 19px;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
}

.Cosmetics-sales-section .second-card .card-body p {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 27px;
  font-family: "Poppins", sans-serif;
}

.Cosmetics-sales-section .second-card .card-body .Cosmetics-btn .btn {
  font-size: 14px;
  color: #fff;
  background: linear-gradient(90deg, #cc7c6a, #ff398b);
  border-color: rgb(255 255 255 / 15%);
  padding: 10px 10px;
  font-family: "Poppins", sans-serif;
}

.Cosmetics-sales-section .third-card .card-img-overlay {
  top: 20%;
}

.Cosmetics-sales-section .third-card .card-img-overlay .summer-btn .btn {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  color: black;
  background-color: white;
  padding: 10px 10px;
  font-family: "Poppins", sans-serif;
}

.Cosmetics-sales-section .forth-card .card-body h2 {
  font-size: 34px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;

  letter-spacing: 1px;
}

.Cosmetics-sales-section .forth-card .card-body h6 {
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
}

.Cosmetics-sales-section .forth-card .card-body p {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 27px;
  font-family: "Poppins", sans-serif;
}

.Cosmetics-sales-section .forth-card .card-body .hurry-up-btn .btn {
  font-size: 14px;
  color: #fff;
  background: linear-gradient(90deg, #cc7c6a, #ff398b);
  border-color: rgb(255 255 255 / 15%);
  padding: 8px 20px;
  font-family: "Poppins", sans-serif;
}

/* trending-section */

.trending-section h4 {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  text-decoration: underline;
  font-weight: 700;
}
.trending-section-body p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 28px;
}

.trending-section.trending-main-body {
  position: relative;
}

.trending-section .badge-secondary {
  width: 40px;
  opacity: 1;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  background-color: #00a5ff;
}

.trending-section .badge-secondary:hover {
  background-color: black;
}

.trending-section .badge-secondary a:hover {
  color: white;
}

.trending-section .product-cards-main-body {
  position: relative;
}
.trending-section .product-tag-trending-section {
  position: absolute;
  top: 0;
  right: 6px;
}

.trending-section .buy-now-btn .btn {
  background-color: #00a5ff;
  font-size: 13px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  border-radius: 6px;
  color: white;
  padding: 6px 23px;
}

/* homepage-bottom-newslater-section */
.homepage-bottom-newslater-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(../homepageimages/newslater-bg.jpeg);
  padding: 40px 0px 50px;
}
.homepage-bottom-newslater-section .newslater-body h4 {
  color: white;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.homepage-bottom-newslater-section .newslater-body input {
  background-color: rgba(255, 255, 255, 0.119);
  border: 1px solid rgb(255 255 255 / 62%);
}
.homepage-bottom-newslater-section .newslater-body .btn {
  font-size: 16px;
  border: 1px solid rgb(255 255 255 / 62%);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.homepage-bottom-newslater-section .newslater-body .btn:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.119);
}

/* brand-company-section */
.brand-company-section {
  padding: 30px 0px 50px;
  background-color: #f9f9f9;
  font-family: "Poppins", sans-serif;

}

.brand-company-section img {
  padding: 8px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.089);
}

.brand-company-section h4 {
  font-size: 32px;
  font-weight: 600;
}

.brand-company-section p {
  font-size: 16px;
  color: #424242;
  font-weight: 500;
  letter-spacing: 1px;
}


/* our-team-section */
.our-team-section {
  padding: 20px 0px 20px;
  font-family: "Poppins", sans-serif;

}
.our-team-section .our-team-section-top-content h2 {
  font-size: 36px;
}

.our-team-section .our-team-section-top-content p {
  font-weight: 500;
  color: #6a6a6a;
  line-height: 29px;
  font-size: 16px;
}

.our-team-section .hire-team-btn .btn {
  font-size: 15px;
  color: #fff;
  background-color: #256a8f;
  border-radius: 6px;
  font-weight: 500;
  padding: 0.7rem 1.7rem;
}

.our-team-section .card .card-img-top {
  width: 120px;
  display: block;
  margin: 0px auto;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}

.our-team-section .card {
  padding: 25px;
  flex-wrap: wrap;
  border: 3px solid #00a5ff;
  box-shadow: 0 0 14px rgba(53, 110, 255, 0.45098039215686275);
  border-radius: 10px;
  margin: 10px 0px;
  overflow: hidden;
}
.our-team-section .card:hover {
  background-color: black;
  color: white !important;
  transition: 0.7s ease-in-out;
}
.our-team-section .card:hover h4 {
  color: white;
}
.our-team-section .card .Team-Social-left-icon li {
  opacity: 0;
}
.our-team-section .card:hover .Team-Social-left-icon li {
  color: black;
  background-color: white;
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.our-team-section .card h4 {
  color: #404040;
  margin-bottom: 15px;
}

.our-team-section .card h6 {
  color: #949494;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 22px;
}

.our-team-section .card .card-body a {
  font-size: 17px;
}

.our-team-section .card .card-body a {
  font-size: 17px;
  text-decoration: none;
}




/*===//===// footer ===//==== */
.footer-section {
  background: linear-gradient(90deg, #231a2d, #090707bf);  padding: 4px 0px;
  padding: 10px 0px 10px;
  font-family: "Poppins", sans-serif;

}

.footer-left-sec p {
  font-size: 15px;
  line-height: 29px;
  font-weight: 400;
  color: #ebebeb;
}

.left-socials-icons a {
  color: whitesmoke;
  border: 1px solid white;
  padding: 7px 13px;
  margin-right: 10px;
  border-radius: 9px;
}

.footer-column-links a {
  font-size: 14px;
  color: #ebebeb;
  text-transform: uppercase;
  padding: 4px 10px;
  font-weight: 400;
  margin: 7px 0px 0px;
  display: block;
}
.footer-column-links a:hover {
  color: #ebebeb;
}

.footer-column-links-tags a {
  font-size: 13px;
  border: 1px solid rgba(255, 255, 255, 0.271);
  color: #ebebeb;
  letter-spacing: 0.9px;
  line-height: 14px;
  font-weight: 500;
  padding: 8px 15px;
  display: inline-block;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-border-radius: 17px;
}
.footer-column-links-tags a:hover {
  color: white;
  transition: 0.4s ease-in-out;
  background-color: #da1c5c;
  -webkit-border-radius: 13px;
}
.footer-post-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.footer-date {
  font-size: 12px;
  color: #ebebeb;
  text-transform: uppercase;
}

.footer-post-sec img {
  display: block;
  max-width: 100%;
  border-radius: 5%;
}

.footer-post-sec p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #ebebeb;
}
.footer-post-sec p:hover {
text-decoration: underline;
cursor: pointer;
}

.footer-section h6 {
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  color: #ebebeb;
  text-transform: uppercase;
}

.footer-top {
  border-bottom: 3px rgba(255, 255, 255, 0.13) solid;
  border-width: 2px;
  padding: 20px 0px 10px;
}

.footer-social-icons a {
  color: #ebebeb;
  font-size: 14px;
  text-align: center;
  margin: 6px;
}

.footer-delevery-process {
  padding: 20px 0px 20px;
}

.footer-delevery-process p {
  font-size: 14px;
  line-height: 27px;
  font-weight: 400;
}

.copyright-section p {
  font-size: 14px;
  font-weight: 400;
  color: #ebebeb;
}

.agency-copy {
  color: #ebebeb;
  text-decoration: none;
}

