* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #EAEAEA !important;
  }
  
  
  
  
  /* .swiper */
  
  .swiper {
    width: 1000px;
    height: 200px;
  }
  
  .swiper-slide img {
    width: 100%;
    height: 40vh;
  }
  
  .swiper-button-prev {
    display: none;
  }
  
  .swiper-button-next {
    display: none;
  }
  
  /* .gutter */
  .gutter {
    margin-top: 10px 0px;
    padding: 6px;
    cursor: pointer;
  }
  
  .gutter:hover {
    background-color: #000 !important;
    color: white !important;
  }
  
  
  /* product-banner */
  
  /* 
  .product-cards img {
    position: relative;
    animation: mymove 5s infinite;
  }
  
  @keyframes mymove {
    0% {
     
      transform: scale(0.8);
    }
    100% {
      transform: scale(0.8);
    }
  } */
  
  
  
  .product-cap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .product-cap h5 {
    font-size: 18px;
  }
  
  .product-cap a {
    font-size: 16px;
    text-decoration: none;
    color: #0D775E;
    font-weight: 400;
  }
  
  .product-cards {
    background-color: #EAEAEA;
    ;
  
  }
  
  .product-cards img {
    transition: 0.5s ease;
  }
  
  .product-cards img:hover {
    filter: grayscale(1);
    transform: scale(0.8);
  }
  
  .box{
    animation: animate 2s linear infinite;
  }
  
  @keyframes animate{
    0%{
    transform: scale(0.9);
    }
    0%{
    transform: scale(0.7);
    }
  }
  
  
  
  .card {
    position: relative;
    overflow: hidden;
  }
  
  .product-body .product-name {
    font-size: 14px;
    font-weight: 500;
    color: #6a6a6a;
    font-family: sans-serif;
  }
  
  .product-body .product-title {
    font-size: 14px;
    font-weight: 500;
    color: #6a6a6a;
  }
  
  .product-body .discount {
    font-size: 13px;
    color: #6a6a6a;
  }
  
  .product-tag {
    position: absolute;
    font-size: 17px;
    font-weight: 400;
    top: 0;
    left: 0;
  }
  
  .item-bookmark {
    position: absolute;
    top: 10px;
    right: 14px;
    width: 20px;
    color: #0D775E;
  }
  
  .item-bookmark a:active {
    color: red;
  }
  
  .badge-primary {
    background-color: #0D775E;
  }
  
  .badge-secondary {
    background-color: #000;
  }
  
  .product-price {
    margin-bottom: 0;
    color: #0D775E;
    font-weight: 700;
  }
  
  /* home-page-footer-slider */
  
  .home-page-footer-slider {
    padding: 100px 0px 100px;
  }
  
  .carousel-body-footer img {
    transition: 1s ease-in-out;
  }
  
  .carousel-body-footer img:hover {
    transform: skew(180deg);
  
  }
  
  
  
  
  
  /* footer */
  
  .menubar-area {
    background-color: #fff;
    position: fixed !important;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 9;
  }
  
  .toolbar-inner {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    position: relative;
    top: 0;
  }
  
  #active-fill {
    fill: #ff586e;
    stroke: #ff586e;
  }
  
  
  
  .cart-handle i {
    position: absolute;
    transform: translate(-50%,-50%);
    font-size: 25px;
    left: 50%;
    top: 50%;
    color: #EAEAEA;
  }
  .menubar-area .cart-handle{
    text-align: center;
  }
  
  .toolbar-inner .nav-link {
    width: 25%;
    font-size: 16px;
    align-items: center;
    padding: 15px 12px 15px;
    color: rgba(0, 0, 0, 0.7);
    position: relative;
  }