* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color:#85aea410 !important;
}

.banner-bg-back img{
  width: 100%;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* .container {
  max-width: 1020px !important;
} */
/* .gutter */
.gutter {
  margin-top: 10px 0px;
  padding: 6px;
  cursor: pointer;
}

.gutter:hover {
  background-color: #000 !important;
  color: white !important;
}


/* .banner-product-all-categories-main-body */

.banner-product-all-categories-main-body{
  padding: 10px;
  background-color:rgba(255, 255, 255, 0.832);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}
.banner-product-all-categories-main-body{
border: 1p solid black;
}

.banner-product-all-categories-main-body-2{
  padding: 10px;
  background-color:rgba(255, 255, 255, 0.832);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}
.banner-product-all-categories-main-body-2 img{
  width: 80px;
  aspect-ratio: 3/3;
}


.card {
  position: relative;
  overflow: hidden;
  width: 250px !important;
  padding: 0 !important;
  margin: 10px auto;
}

.product-cards {
  background-color:#0d775e08 !important;
  background-size: cover;
  background-repeat: no-repeat;

}


.product-cap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-cap h5 {
  font-size: 18px;
}

.product-cap a {
  font-size: 16px;
  text-decoration: none;
  color: #0D775E;
  font-weight: 400;
}
.product-cards img {
  transition: 0.5s ease;
}

.product-cards img:hover {
  filter: grayscale(1);
  transform: scale(0.8);
}


@keyframes animate {
  0% {
    transform: scale(0.9);
  }

  0% {
    transform: scale(0.7);
  }
}

.product-body .product-name {
  font-size: 14px;
  font-weight: 500;
  color: #6a6a6a;
  font-family: sans-serif;
}

.product-body .product-title {
  font-size: 14px;
  font-weight: 500;
  color: #6a6a6a;
}

.product-body .discount {
  font-size: 13px;
  color: #6a6a6a;
}

.product-tag {
  position: absolute;
  font-size: 17px;
  font-weight: 400;
  top: 0;
  left: 0;
}

.item-bookmark {
  position: absolute;
  top: 10px;
  right: 14px;
  width: 20px;
  color: #0D775E;
}

.item-bookmark a:active {
  color: red;
}

.badge-primary {
  background-color: #0D775E;
}

.badge-secondary {
  background-color: #000;
}

.product-price {
  margin-bottom: 0;
  color: #0D775E;
  font-weight: 700;
}


/* footer */
.menubar-area {
  background-color: #fff;
  position: fixed !important;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 9;
}

.toolbar-inner {
  display: flex;
  max-width: 1000px;
  margin: 0px auto;
  align-items: center;
  position: relative;
  top: 0;
}

#active-fill {
  fill: #ff586e;
  stroke: #ff586e;
}

.cart-handle i {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 20px;
  left: 50%;
  top: 50%;
  color: #EAEAEA;
}

.menubar-area .cart-handle {
  text-align: center;
}

.toolbar-inner .nav-link {
  width: 25%;
  font-size: 15px;
  padding: 15px 12px 15px;
  color: rgba(0, 0, 0, 0.867);
  font-weight: 600;
  position: relative;
}

.toolbar-inner .nav-link i {
  font-size: 16px;
  text-align: center;

}

@media (min-width:180px) and (max-width:768px) {
  .card {
    width:50% !important;
    padding: 0 !important;
  }
  
  .product-cards {
    background-color:hsla(166, 89%, 35%, 0.333) !important;
    background-size: cover;
    background-repeat: no-repeat;
  }

  /* footer */
  .menubar-area {
    background-color:#aedad0;
  }
  .cart-handle i {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 20px;
    left: 50%;
    top: 50%;
    color: #EAEAEA;
  }
  
  .menubar-area .cart-handle {
    text-align: center;
  }
  
  .toolbar-inner .nav-link {
    width: 25%;
    font-size: 15px;
    padding: 15px 12px 15px;
    color: rgba(0, 0, 0, 0.867);
    font-weight: 600;
    position: relative;
    text-align: center;
  }
  
  .toolbar-inner .nav-link i {
    font-size: 16px;
    text-align: center;
    margin: auto;
  }
}
